.page-content {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}
.conteudo-login{
    text-align: center;
    color: #ffff;
    margin-right: 35px;
}
.conteudo-login span a{
    text-decoration: none;
    font-weight: bolder;
    color: #E1A201;  
}
.conteudo-login span a:hover{
    text-decoration: none;
    font-weight: bolder;
    color: #D09000 ;
    
}
input{
    height: 60px;
}
.form-control::placeholder,
.form-control[placeholder] {
    color: #E1A201 !important;
}
.conteudo-icons{
    display: inline-flex;
}
.gg{
    margin-right: 5px;
}
.btn-login:hover,
.btn-login[hover]{
    background-color: #D09000 !important;
}
